#shake-container {
    position:       absolute;
    top:            22%;
    left:           34%;
}

#shake-title {
    font:           2.5em Arial, sans-serif;
    font-weight:     bold;
    color:          #037da5;
}

#shake-desc {
    margin-top:     0.5em;
    font:           1.5em sans-serif;
    color:          #444;
}

#shake-holder {
    margin-top:     2.5em;
    text-align:     center;
    margin-left:    10%;
    width:          80%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #shake-container {
        top:            30%;
        left:           15%;
    }

    #shake-title {
        font:           4.5em Arial, sans-serif;
    }

    #shake-desc {
        font:           3.5em sans-serif;
    }

    #shake-holder {
        margin-left:    0;
        width:          100%;
    }
}

#shake {
    padding:            0.5em 1em;
    font:               1.5em sans-serif;
    color:              #fff;
    background-color:   #361166;
    border-radius:      3px;
}

#shake:hover {
    background-color:   #5e3791;
    cursor:             pointer;
}

#footer {
    text-decoration:    none;
    font:               1.2em sans-serif;
    color:              #888;
    position:           absolute;
    bottom:             1em;
    right:              1em;
}

#footer:hover {
    text-decoration:    underline;
}